<header>
    <div class="contenedor-header">
      <div class="grupo-izquierdo">
        <img src="Img/logo.svg" class="logo">
        <nav class="barra-navegacion">
          <a [routerLink]="['/home']" [routerLinkActive]="['active','selected']" (click)="setTitle('Home')">Inicio</a>
          <a [routerLink]="['/reserva1']" href="#"[routerLinkActive]="['active']"(click)="setTitle('reserva1')">Reservar</a>
          <a [routerLink]="['/consultas']" href="#"[routerLinkActive]="['active']"(click)="setTitle('Consultas')">Consultas</a>
          <a [routerLink]="['/about-us']" href="#"[routerLinkActive]="['active']"(click)="setTitle('About us')">Sobre nosotros</a>
          <a [routerLink]="['/search']" href="#"[routerLinkActive]="['active']"(click)="setTitle('Search')">Buscar</a>
        </nav>
      </div>

      <!-- Botones del lado derecho -->
      <div class="grupo-derecho">
        <button  class="boton-Iniciar-Sesion" [routerLink]="['/login']" (click)="setTitle('Login')">
          Iniciar sesion
        </button>
        <button class="boton-perfil">
          <img src="Icons/IconoPerfil.svg" class="IconoHeader">
        </button>
        <button class="boton-notificacion">
          <img src="Icons/IconoNotificacion.svg" class="IconoHeader" />
        </button>
      </div>
    </div>
  </header>
          <!-- Termina la barra de navegacion-->
          