<header>
    <div class="contenedor-header">
      <div class="grupo-izquierdo">
        <img src="Img/logo.svg" class="logo">
        <nav class="barra-navegacion">
          <a href="#">Inicio</a>
          <a href="#">Reservar</a>
          <a href="#">Consultas</a>
          <a href="#">Sobre nosotros</a>
          <a href="#">Buscar</a>
        </nav>
      </div>

      <!-- Botones del lado derecho -->
      <div class="grupo-derecho">
        <button class="boton-Iniciar-Sesion">
        Iniciar sesion
        </button>
        <button class="boton-perfil">
          <img src="Icons/IconoPerfil.svg" class="IconoHeader">
        </button>
        <button class="boton-notificacion">
          <img src="Icons/IconoNotificacion.svg" class="IconoHeader" />
        </button>
      </div>
    </div>
  </header>
          <!-- Termina la barra de navegacion-->
          