<div class="contenedor-consultas">
  <h2>Consultas</h2>
  <div class="grid-consultas">
    <button class="consulta seleccionada">Consulta general</button>
    <button class="consulta">Consulta de medicina interna</button>
    <button class="consulta">Consulta pediátrica</button>
    <button class="consulta">Consulta ginecológica</button>

    <button class="consulta">Consulta obstétrica (embarazo)</button>
    <button class="consulta">Consulta de cardiología</button>
    <button class="consulta">Consulta de dermatología</button>
    <button class="consulta">Consulta de traumatología y ortopedia</button>

    <button class="consulta">Consulta de neurología</button>
    <button class="consulta">Consulta de oftalmología</button>
    <button class="consulta">Consulta de otorrinolaringología</button>
    <button class="consulta">Consulta de gastroenterología</button>

    <button class="consulta">Consulta de psiquiatría</button>
    <button class="consulta">Consulta de endocrinología</button>
    <button class="consulta">Consulta de oncología</button>
    <button class="consulta">Consulta de urología</button>

    <button class="consulta">Consulta de nefrología</button>
    <button class="consulta">Consulta de neumología</button>
    <button class="consulta">Consulta de reumatología</button>
    <button class="consulta">Consulta de cirugía general</button>

    <button class="consulta">Ninguno</button>
  </div>
</div>
