<div class="contenedor">
  <h2>Hospitales públicos</h2>
  <div class="grid">
    <div class="card"><em>Hospital Clínico Viedma</em></div>
    <div class="card">Hospital del Norte</div>
    <div class="card">Hospital Cochabamba</div>
    <div class="card">Hospital Maternológico Germán Urquidi</div>
    <div class="card">Hospital del Niño "Manuel Ascencio Villarroel"</div>
    <div class="card">Hospital Psiquiátrico San Juan de Dios</div>
    <div class="card">Instituto Gastroenterológico Boliviano Japonés</div>
    <div class="card">Ninguno</div>
  </div>

  <h2>Hospitales privados</h2>
  <div class="grid">
    <div class="card">Hospital Univalle (Norte y Sud)</div>
    <div class="card">Clínica Los Ángeles</div>
    <div class="card">Centro Médico Quirúrgico Boliviano Belga</div>
    <div class="card">Clínica María de los Ángeles</div>
  </div>
</div>
