<app-navbar></app-navbar>
<!-- Sección de la imagen de fondo -->
<section class="imagen-consultorio">
  <img src="Img/fondoConsultas.png" alt="Consultorio" class="consultorio-img" />
</section>

<!-- Título principal -->
<h1>Consultas</h1>

<!-- Introducción -->
<p class="intro">
  En Salud Total Bolivia, pedir una consulta nunca fue tan sencillo.
  Nuestra plataforma te permite agendar citas médicas en solo unos clics,
  sin filas, llamadas o demoras.
</p>

<!-- Paso 1: Elegir especialidad -->
<section class="step">
  <h2>📍 Elige tu especialidad médica</h2>
  <p>
    Ya sea que necesites una consulta general, pediátrica, ginecológica o de cualquier otra especialidad, contamos con una red confiable de profesionales en todo el <em>país</em>.
  </p>
</section>

<!-- Paso 2: Seleccionar horario -->
<section class="step">
  <h2>📅 Selecciona el horario que más te convenga</h2>
  <p>
    Accede a la disponibilidad de cada médico en tiempo real y reserva tu cita según tu rutina diaria.
  </p>
</section>

<!-- Paso 3: Confirmar cita -->
<section class="step">
  <h2>🔒 Confirma tu cita de forma segura</h2>
  <p>
    Recibe notificaciones antes de tu consulta y gestiona tus reservas desde tu perfil. Todo con la seguridad y confianza que mereces.
  </p>
</section>
<app-preguntas-frecuentes></app-preguntas-frecuentes>
<!--Empieza consultas comunes-->
     <div class="ConsultasComunes">
  <div class="ConsultasContenido">
    <div class="ConsultasTexto">
      <h2>Consultas Comunes</h2>
      <h3>¿Quieres comunicarte con nosotros?</h3>
      <button class="botonConsultasComunes">Contactar</button>
    </div>
    <div class="ImagenesConsultasComunes">
      <img src="Img/ConsultasComunes1.png">
      <img src="Img/ConsultasComunes2.png">
      <img src="Img/ConsultasComun3.png">
    </div>
  </div>
</div>

        <!--Termina Consultas comunes-->
