    <!--EMPIEZA SOBRE NOSOTROS-->
        <div class="SobreNosotros">
          <img src="Img/SobreNosotros.png" class="ImagenSobreNosotros">
          <div class="SobreNosotrosTexto">
                      <h2>Sobre nosotros</h2>
          <p class="p1">En Salud Total Bolivia, trabajamos para que el acceso a la salud sea más fácil, rápido y seguro para todos. Somos una plataforma digital diseñada para que puedas reservar tus citas médicas en pocos pasos,
          desde la comodidad de tu casa y con total confianza.
          Conectamos a pacientes con una amplia red de hospitales, clínicas y profesionales de la salud en todo el país, 
          ofreciendo una experiencia ágil y moderna. 
          Desde consultas generales hasta especialidades médicas,
           podrás encontrar al profesional adecuado en el horario que más te convenga.
          </p>
           <p class="p2">
          Nuestra misión es optimizar tu tiempo y facilitar el cuidado de tu salud, brindando un servicio confiable, intuitivo y seguro. 
          Nos comprometemos con la protección de tu información personal y con una atención de calidad en cada etapa del proceso.
          En Salud Total Bolivia, creemos que la tecnología puede y debe estar al servicio del bienestar. Por eso, 
          día a día mejoramos para ser el puente entre tú y una atención médica eficiente, humana y oportuna.
        </p>
          </div>
        </div>
        <!--TERMINA SOBRE NOSOTROS-->