
<div class="login-container">
  <div class="image-section">
      <img src="Img/imagenLogin.png" alt="Lobby" />
  </div>

  <div class="form-section">
    <h1>WELCOME</h1>


    <form>
      <label>Correo electrónico</label>
      <input type="email" placeholder="Ingresa tu correo" />

      <label>Número de carnet</label>
      <input type="text" placeholder="Ingresa tu carnet" />

      <label>Contraseña</label>
      <input type="password" placeholder="Ingresa tu contraseña" />
      <small class="forgot-password">¿Olvidaste tu contraseña?</small>

      <button class="btn-login">Iniciar sesión</button>
      <div class="divider">o</div>
      <button class="btn-register">Crear cuenta</button>
    </form>

    <div class="social-icons">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-whatsapp"></i>
    </div>
  </div>
</div>
