        <!--Termina Imagen Principal-->
        <!--Empieza nuestros servicios-->
        <h2 class="NuestrosServicios">
          Nuestros servicios
        </h2>
        <!--Cuadritos-->
        <!--EMPIEZA CUADRO DE TIPOS DE SERVICIO-->
        <div class="CuadrosArriba">
        <div class="CuadroTiposDeServicio">
          <img src="Img/TipoDeServicio.png" class="ImagenCuadrito1">
          <div class="AgruparItems">
          <img src="Icons/IconoTipoDeServicio.svg" class="IconoCuadritos">
          <h2>
            Tipos de servicio
          </h2>
          </div>
          <p>Un hospital brinda servicios médicos completos como consultas externas,
             atención de emergencias, hospitalización, cirugías, análisis de laboratorio, 
             estudios por imágenes y farmacia. Su objetivo es ofrecer diagnóstico,
              tratamiento y seguimiento de la salud de forma segura y oportuna.</p>
        </div>
        <!--TERMINA CUADRO DE TIPOS DE SERVICIO-->
        <!--EMPIEZA CUADRO DE HOSPITALES DISPONIBLES-->
        <div class="CuadroHospitalesDisponibles">
          <img src="Img/HospitalesDisponibles.png" class="ImagenCuadrito1">
         <div class="AgruparItems">
            <img src="Icons/IconoHospital.svg" class="IconoCuadritos">
            <h2>Hospitales disponibles</h2>
          </div>
       <p>En esta sección encontrarás los hospitales disponibles para reservar tu cita. 
            Cada uno cuenta con distintos servicios,
             especialidades y horarios, para que elijas el que mejor se adapte a tus necesidades de salud.</p>
        </div>
        <!--TERMINA HOSPITALES DISPONIBLES-->
        <!--EMPIEZA CALENDARIO-->
        <div class="CuadroCalendario">
          <img src="Img/Calendario.png" class="ImagenCuadrito1">
          <div class="AgruparItems">
            <img src="Icons/IconoCalendario.svg" class="IconoCuadritos">
            <h2>Calendario</h2>
          </div>
          <p>Consulta el calendario disponible para ver los días y horarios en los que puedes agendar tu cita médica. 
            Elige el momento que mejor te convenga y asegura tu atención de forma rápida y sencilla.</p>
        </div>
        <!--TERMINA CALENDARIO-->
        </div>
        <!--TERMINA CRUADRITOS DE ARRIBA-->
        <!--EMPIEZA CUADRITOS DE ABAJO-->
        <div class="CuadritosAbajo">
          <!--EMPIEZA-->
          <div class="CuadritoConsultasComunes">
            <img src="Img/ConsultasComunes.png" class="ImagenCuadrito2">
            <div class="AgruparItems">
              <img src="Icons/IconoConsultasComunes.svg" class="IconoCuadritos">
              <h2>Consultas Comunes</h2>
            </div>
            <p>Un hospital brinda servicios médicos completos como consultas externas, atención de emergencias, 
              hospitalización, cirugías, análisis de laboratorio, estudios por imágenes y farmacia. 
              Su objetivo es ofrecer diagnóstico, tratamiento y seguimiento de la salud de forma segura y oportuna.</p>
              <button class="botonConsultasComunes">
                Consultas comunes
              </button>
          </div>
          <!--TERMINA CONSULTAS COMUNES-->
          <!--EMPIEZA HISTORIAL MEDICO-->
          <div class="CuadritoHistorialMedico">
          <img src="Img/HistorialMedico.png" class="ImagenCuadrito2">
          <div class="AgruparItems">
            <img src="Icons/IconoHistorialMedico.svg" class="IconoCuadritos">
            <h2>Historial Medico</h2>
          </div>
            <p>Un hospital brinda servicios médicos completos como consultas externas, atención de emergencias, 
              hospitalización, cirugías, análisis de laboratorio, estudios por imágenes y farmacia. 
              Su objetivo es ofrecer diagnóstico, tratamiento y seguimiento de la salud de forma segura y oportuna.
              </p>
          </div>
          <!--TERMINA HISTORIAL MEDICO-->
        <!--EMPIEZA PEDIR CONSULTA TUTORIAL-->
        <div class="CuadritoPedirConsultaTutorial">
        <img src="Img/PedirConsultasTutorial.png" class="ImagenCuadrito2">
        <div class="AgruparItems">
          <img src="Icons/IconoPedirConsultasTutorial.svg" class="IconoCuadritos">
          <h2>Pedir Consulta Tutorial</h2>
        </div>
        <p>Un hospital brinda servicios médicos completos como consultas externas, atención de emergencias,
           hospitalización, cirugías, análisis de laboratorio, estudios por imágenes y farmacia. 
          Su objetivo es ofrecer diagnóstico, tratamiento y seguimiento de la salud de forma segura y oportuna.
        </p> 
         <button class="botonPedirConsultaTutorial">
                Pedir Tutorial
              </button>
        </div>
        <!--TERMINA PEDIR CONSULTA TUTORIAL-->
        </div>
        <!--TERMINA CUADRITOS DE ABAJO-->
        <!--TERMINA CUADRITOS-->