<!-- Sección principal de la recepción -->
<img src="Img/reservaFondo.png" alt="Fondo" />

<div class="opciones">
  <button class="opcion">🏥 Hospital Vietnam</button>
  <button class="opcion">👨‍⚕️ Consulta general</button>
  <button class="opcion">🧪 Análisis de sangre</button>
  <button class="listo">✅ Listo</button>
</div>
<!-- Sección reserva del dia-->
 <div class="reserva-container">
  <h2>Selecciona el día de reserva:</h2>

  <div class="info-row">
    <div class="info-box">
      <p class="label">Doctor:</p>
      <p>Dr. Vallejo Randall</p>
    </div>
    <div class="info-box">
      <p class="label">Fecha de reserva:</p>
      <p>25 de Mayo</p>
    </div>
    <div class="info-box">
      <p class="label">Hora de reserva:</p>
      <p>17:00pm</p>
    </div>
  </div>

  <h3>Horas disponibles</h3>

  <div class="horas-disponibles">
    <div>18:00pm</div>
    <div>17:30pm</div>
    <div>16:00pm</div>
    <div>15:00pm</div>
    <div>11:00am</div>
    <div>9:00am</div>
    <div>7:00am</div>
  </div>

  <p class="recordatorio">El recordatorio te llegará automáticamente un día antes de su consulta y/o análisis</p>

  <textarea class="motivo" rows="5" readonly>
Hola, soy Cristhian Claros Vasquez, tengo 34 años y quiero agendar una consulta general porque desde hace unos días me siento muy cansado sin razón aparente. He tenido mareos leves, dolores de cabeza frecuentes y dificultad para concentrarme. No tengo enfermedades crónicas, pero en mi familia hay antecedentes de diabetes e hipertensión.

También quiero hacerme un análisis de sangre completo para revisar mis niveles de glucosa, colesterol y descartar anemia o alguna infección. Me gustaría saber si todo está bien o si necesito algún tratamiento. Agradezco mucho su atención.
  </textarea>

  <div class="boton-container">
    <button class="btn">Terminar reserva</button>
    <div class="steps">
      <span class="dot"></span>
      <span class="dot active"></span>
      <span class="dot"></span>
    </div>
  </div>
</div>
