     <!--Empieza Imagen Principal-->
           <div class="ContenedorPrincipal">
           <img src="Img/ImagenePrincipal.png" class="ImagenePrincipal">
           </div>
           <div class="LetraSobreImagen"> 
           <h2>TU SALUD SIN ESPERAS, AGENDA AHORA</h2>
           <p>"Agenda tus citas médicas de forma rápida y sencilla, sin complicaciones."</p>
        </div>
        <button class="IconoHospitalesDisponibles">
          <img src="Icons/IconoHospital.svg" class="IconoImagenPrincipal">
          Hospitales Disponibles
        </button>
        <!--Termina Imagen Principal-->
<app-servicios></app-servicios>

 <!--EMPIEZA COMENTARIOS DE LA PAGINA-->
        <div class="ComentariosDeLaPagina">
          <h2>Comentarios sobre la pagina</h2>
        <div class="CuadritosComentariosGeneral">
          <div class="CuadritosComentarios">
            <img src="Img/FotoPerfilComentarios.png" class="FotoPerfilComentarios">
            <div class="TextoComentariosDeLaPagina">
            <h3>Angela Rose</h3>
            <h4>Creative Production</h4>
             <p>There are many variations passages of Lorem Ipsum majority some by words which don't look . </p>
            </div>
          </div>
          <div class="CuadritosComentarios2">
            <img src="Img/FotoPerfilComentarios.png" class="FotoPerfilComentarios">
            <div class="TextoComentariosDeLaPagina">
              <h3>Angela Rose</h3>
              <h4>Creative Production</h4>
             <p>There are many variations passages of Lorem Ipsum majority some by words which don't look . </p>
            </div>
          </div>
          <div class="CuadritosComentarios3">
            <img src="Img/FotoPerfilComentarios.png" class="FotoPerfilComentarios">
            <div class="TextoComentariosDeLaPagina">
              <h3>Angela Rose</h3>
              <h4>Creative Production</h4>
              <p>There are many variations passages of Lorem Ipsum majority some by words which don't look . 

              </p>
            </div>
          </div>
        </div>
        </div>
        <!--TERMINA COMENTARIOS DE LA PAGINA-->
    
<app-sobre-nosotros></app-sobre-nosotros>

   <!--Empieza consultas comunes-->
     <div class="ConsultasComunes">
  <div class="ConsultasContenido">
    <div class="ConsultasTexto">
      <h2>Consultas Comunes</h2>
      <h3>¿Quieres comunicarte con nosotros?</h3>
      <button class="botonConsultasComunes">Contactar</button>
    </div>
    <div class="ImagenesConsultasComunes">
      <img src="Img/ConsultasComunes1.png">
      <img src="Img/ConsultasComunes2.png">
      <img src="Img/ConsultasComun3.png">
    </div>
  </div>
</div>

        <!--Termina Consultas comunes-->