:host {
  display: block;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.faq {
  margin-bottom: 25px;
  margin: 50px;

}

.faq h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.faq p {
  font-size: 1em;
  line-height: 1.5;
}
