<div class="CuadritoaNotificacion">
    <div class="NombreYCancelar">
    <h3>Cristhian Claros Vasquez</h3>
    <h5>Asistio</h5>
    </div>
    <div class="DatosReserva">
        <h5>Hospital Vietnam</h5>
        <h5>Consulta general</h5>
        <h5>Analisis de sangre</h5>
    </div>
    <div class="DatosFechaReservacion">
        <h3>Doctor:</h3>
        <h5>Dr. Vallejo Randall</h5>
        <h3>Fecha de reservacion:</h3>
        <h5>25 de Mayo</h5>
        <h3>Hora de reservacion:</h3>
        <h5>18:00pm</h5>
    </div>
</div>